.kadai1{
    color:blue;
        }
.kadai2{
    color:green;
    font-size:30px;
        }
.kadai3{
    text-decoration:line-through;
        }
.kadai4{
    color:white;
    background-color:steelblue;
    width:500px;
        }
#contents{
    width:500px;
        }
#main{
    background-color:gainsboro;
    padding:10px;
    border-color:dimgray;
    border:solid 2px;
    }
.kadai5{
    background-color:thistle;
    padding:20px 10px;
    border-color:dimgray;
    border:double 4px;
        }